body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:44px;
  top:30px;
  width:173px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u3 {
  position:absolute;
  left:52px;
  top:35px;
  width:26px;
  height:23px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:219px;
  top:130px;
  width:49px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:67px;
  top:189px;
  width:121px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:726px;
  top:189px;
  width:300px;
  height:375px;
}
#u10 {
  position:absolute;
  left:2px;
  top:180px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11 {
  position:absolute;
  left:739px;
  top:201px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:739px;
  top:244px;
  width:269px;
  height:22px;
}
#u14 {
  position:absolute;
  left:2px;
  top:3px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  position:absolute;
  left:739px;
  top:286px;
  width:269px;
  height:22px;
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  position:absolute;
  left:739px;
  top:327px;
  width:269px;
  height:22px;
}
#u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:739px;
  top:368px;
  width:269px;
  height:22px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:739px;
  top:407px;
  width:269px;
  height:22px;
}
#u22 {
  position:absolute;
  left:2px;
  top:3px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:739px;
  top:450px;
  width:269px;
  height:22px;
}
#u24 {
  position:absolute;
  left:2px;
  top:3px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:739px;
  top:490px;
  width:269px;
  height:22px;
}
#u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:739px;
  top:531px;
  width:269px;
  height:22px;
}
#u28 {
  position:absolute;
  left:2px;
  top:3px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:95px;
  top:235px;
  width:563px;
  height:46px;
}
#u30 {
  position:absolute;
  left:2px;
  top:15px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:129px;
  top:248px;
  width:29px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  position:absolute;
  left:67px;
  top:327px;
  width:625px;
  height:170px;
}
#u34 {
  position:absolute;
  left:2px;
  top:77px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:129px;
  top:402px;
  width:29px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u37 {
  position:absolute;
  left:219px;
  top:564px;
  width:300px;
  height:170px;
}
#u38 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:67px;
  top:793px;
  width:625px;
  height:170px;
}
#u40 {
  position:absolute;
  left:2px;
  top:77px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:129px;
  top:868px;
  width:29px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u43 {
  position:absolute;
  left:219px;
  top:1025px;
  width:300px;
  height:170px;
}
#u44 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:67px;
  top:1257px;
  width:625px;
  height:170px;
}
#u46 {
  position:absolute;
  left:2px;
  top:77px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:129px;
  top:1332px;
  width:29px;
  height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:443px;
  top:1494px;
  width:43px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
}
#u51 {
  position:absolute;
  left:632px;
  top:1483px;
  width:26px;
  height:29px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
}
#u53 {
  position:absolute;
  left:515px;
  top:1484px;
  width:37px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u55 {
  position:absolute;
  left:573px;
  top:1483px;
  width:36px;
  height:31px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:2px;
}
#u57 {
  position:absolute;
  left:3px;
  top:1634px;
  width:994px;
  height:1px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-8px;
  width:990px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:74px;
  top:1679px;
  width:81px;
  height:64px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u61 {
  position:absolute;
  left:81px;
  top:1483px;
  width:67px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u62 {
  position:absolute;
  left:2px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u63 {
  position:absolute;
  left:968px;
  top:1482px;
  width:29px;
  height:32px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1026px;
  top:377px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u65_seg0 {
  position:absolute;
  left:-2px;
  top:-5px;
  width:224px;
  height:8px;
  -webkit-transform:rotate(179.481500312709deg);
  -moz-transform:rotate(179.481500312709deg);
  -ms-transform:rotate(179.481500312709deg);
  transform:rotate(179.481500312709deg);
}
#u65_seg1 {
  position:absolute;
  left:208px;
  top:-12px;
  width:20px;
  height:20px;
}
#u66 {
  position:absolute;
  left:61px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u67 {
  position:absolute;
  left:1265px;
  top:368px;
  width:36px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u69 {
  position:absolute;
  left:1311px;
  top:368px;
  width:36px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u71 {
  position:absolute;
  left:1366px;
  top:368px;
  width:188px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:692px;
  top:412px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u73_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u73_seg1 {
  position:absolute;
  left:14px;
  top:-4px;
  width:8px;
  height:205px;
}
#u73_seg2 {
  position:absolute;
  left:14px;
  top:193px;
  width:540px;
  height:8px;
}
#u73_seg3 {
  position:absolute;
  left:541px;
  top:187px;
  width:20px;
  height:20px;
}
#u74 {
  position:absolute;
  left:128px;
  top:189px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u75 {
  position:absolute;
  left:1265px;
  top:599px;
  width:36px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u77 {
  position:absolute;
  left:1311px;
  top:601px;
  width:169px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:148px;
  top:1497px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u79_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:286px;
  height:8px;
}
#u79_seg1 {
  position:absolute;
  left:278px;
  top:-4px;
  width:8px;
  height:112px;
}
#u79_seg2 {
  position:absolute;
  left:278px;
  top:100px;
  width:730px;
  height:8px;
}
#u79_seg3 {
  position:absolute;
  left:995px;
  top:94px;
  width:20px;
  height:20px;
}
#u80 {
  position:absolute;
  left:402px;
  top:96px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u81 {
  position:absolute;
  left:1164px;
  top:1592px;
  width:36px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u83 {
  position:absolute;
  left:1217px;
  top:1594px;
  width:91px;
  height:16px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:997px;
  top:1498px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u85_seg0 {
  position:absolute;
  left:-1px;
  top:-4px;
  width:158px;
  height:8px;
  -webkit-transform:rotate(179.632724392662deg);
  -moz-transform:rotate(179.632724392662deg);
  -ms-transform:rotate(179.632724392662deg);
  transform:rotate(179.632724392662deg);
}
#u85_seg1 {
  position:absolute;
  left:143px;
  top:-11px;
  width:20px;
  height:20px;
}
#u86 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u87 {
  position:absolute;
  left:1164px;
  top:1489px;
  width:36px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u89 {
  position:absolute;
  left:1217px;
  top:1491px;
  width:193px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:264px;
  top:42px;
  width:85px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  position:absolute;
  left:359px;
  top:44px;
  width:9px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u96 {
  position:absolute;
  left:378px;
  top:42px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:417px;
  top:44px;
  width:9px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u100 {
  position:absolute;
  left:436px;
  top:42px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u102 {
  position:absolute;
  left:941px;
  top:42px;
  width:85px;
  height:20px;
  text-decoration:underline;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
