body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:36px;
  top:26px;
  width:173px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u3 {
  position:absolute;
  left:44px;
  top:31px;
  width:26px;
  height:23px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:44px;
  top:103px;
  width:1152px;
  height:60px;
}
#u5_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1158px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:65px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:60px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:60px;
  font-size:16px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:19px;
  width:188px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:60px;
}
#u9 {
  position:absolute;
  left:192px;
  top:0px;
  width:192px;
  height:60px;
  font-size:16px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:2px;
  top:19px;
  width:188px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:60px;
}
#u11 {
  position:absolute;
  left:384px;
  top:0px;
  width:192px;
  height:60px;
  font-size:16px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:19px;
  width:188px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:60px;
}
#u13 {
  position:absolute;
  left:576px;
  top:0px;
  width:192px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:19px;
  width:188px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:60px;
}
#u15 {
  position:absolute;
  left:768px;
  top:0px;
  width:192px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:19px;
  width:188px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:60px;
}
#u17 {
  position:absolute;
  left:960px;
  top:0px;
  width:192px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:19px;
  width:188px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:60px;
  width:282px;
  height:165px;
  visibility:hidden;
}
#u19_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:288px;
  height:171px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:170px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:55px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:55px;
  font-size:14px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:278px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:55px;
}
#u23 {
  position:absolute;
  left:0px;
  top:55px;
  width:282px;
  height:55px;
  font-size:14px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:18px;
  width:278px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:55px;
}
#u25 {
  position:absolute;
  left:0px;
  top:110px;
  width:282px;
  height:55px;
  font-size:14px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:18px;
  width:278px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:282px;
  top:0px;
  width:219px;
  height:165px;
  visibility:hidden;
}
#u27_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:225px;
  height:171px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:170px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:55px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:55px;
  font-size:14px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:18px;
  width:215px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:55px;
}
#u31 {
  position:absolute;
  left:0px;
  top:55px;
  width:219px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:18px;
  width:215px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:55px;
}
#u33 {
  position:absolute;
  left:0px;
  top:110px;
  width:219px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:18px;
  width:215px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:282px;
  top:55px;
  width:277px;
  height:110px;
  visibility:hidden;
}
#u35_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:283px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:115px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:55px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:55px;
  font-size:14px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:18px;
  width:273px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:55px;
}
#u39 {
  position:absolute;
  left:0px;
  top:55px;
  width:277px;
  height:55px;
  font-size:14px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:18px;
  width:273px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:282px;
  top:110px;
  width:277px;
  height:110px;
  visibility:hidden;
}
#u41_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:283px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:115px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:55px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:18px;
  width:273px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:55px;
}
#u45 {
  position:absolute;
  left:0px;
  top:55px;
  width:277px;
  height:55px;
  font-size:14px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:18px;
  width:273px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:192px;
  top:60px;
  width:192px;
  height:110px;
  visibility:hidden;
}
#u47_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:198px;
  height:116px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:115px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
  font-size:14px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:2px;
  top:18px;
  width:188px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
}
#u51 {
  position:absolute;
  left:0px;
  top:55px;
  width:192px;
  height:55px;
  font-size:14px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:2px;
  top:18px;
  width:188px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:192px;
  top:0px;
  width:192px;
  height:165px;
  visibility:hidden;
}
#u53_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:198px;
  height:171px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:170px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
  font-size:14px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:188px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
}
#u57 {
  position:absolute;
  left:0px;
  top:55px;
  width:192px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:2px;
  top:18px;
  width:188px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
}
#u59 {
  position:absolute;
  left:0px;
  top:110px;
  width:192px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:2px;
  top:18px;
  width:188px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:192px;
  top:55px;
  width:192px;
  height:165px;
  visibility:hidden;
}
#u61_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:198px;
  height:171px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:170px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:2px;
  top:18px;
  width:188px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
}
#u65 {
  position:absolute;
  left:0px;
  top:55px;
  width:192px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u66 {
  position:absolute;
  left:2px;
  top:18px;
  width:188px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
}
#u67 {
  position:absolute;
  left:0px;
  top:110px;
  width:192px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u67_img.mouseOver {
}
#u67.mouseOver {
}
#u68 {
  position:absolute;
  left:2px;
  top:18px;
  width:188px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u69 {
  position:absolute;
  left:338px;
  top:41px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:33px;
}
#u71 {
  position:absolute;
  left:225px;
  top:26px;
  width:103px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73 {
  position:absolute;
  left:94px;
  top:220px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73.selected {
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75 {
  position:absolute;
  left:94px;
  top:255px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75.selected {
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:18px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  position:absolute;
  left:79px;
  top:224px;
  width:5px;
  height:18px;
}
#u78 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:18px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:79px;
  top:259px;
  width:5px;
  height:18px;
}
#u80 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:385px;
}
#u81 {
  position:absolute;
  left:390px;
  top:246px;
  width:634px;
  height:384px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:178px;
  width:630px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:2px;
}
#u83 {
  position:absolute;
  left:0px;
  top:703px;
  width:1277px;
  height:1px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:120px;
  top:743px;
  width:89px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:79px;
  top:233px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u87_seg0 {
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u87_seg1 {
  position:absolute;
  left:-23px;
  top:-41px;
  width:8px;
  height:45px;
}
#u87_seg2 {
  position:absolute;
  left:-23px;
  top:-41px;
  width:1268px;
  height:8px;
}
#u87_seg3 {
  position:absolute;
  left:1232px;
  top:-47px;
  width:20px;
  height:20px;
}
#u88 {
  position:absolute;
  left:535px;
  top:-45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u89 {
  position:absolute;
  left:1331px;
  top:189px;
  width:36px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  position:absolute;
  left:1383px;
  top:189px;
  width:237px;
  height:40px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u93 {
  position:absolute;
  left:1331px;
  top:268px;
  width:36px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:1383px;
  top:268px;
  width:237px;
  height:20px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
